@page "/"
@page "/StkMS"
@using System.Globalization

@*<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <MudLink Href="Login">Logare</MudLink>
    </NotAuthorized>
</AuthorizeView>*@

<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <style>
            .zoom {
                transition: transform .2s; /* Animation */
                height: 100px;
                margin: 0 auto;
            }

                .zoom:hover {
                    transform: scale(1.2);
                }
        </style>
        <div class="zoom">

            <MudPaper Elevation="6" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px; background-image: linear-gradient(to bottom, #f3f2f7 72%, #660066 285%)">
                <MudIcon Icon="@Icons.Material.Filled.ShowChart" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px; "></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total vânzări azi</MudText>
                    <MudText Typo="Typo.h5">263</MudText>
                </div>
            </MudPaper>
        </div>

    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <div class="zoom">
            <MudPaper Elevation="6" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px; background-image: linear-gradient(to bottom, #f3f2f7 72%, #660066 285%)">
                <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                <div>

                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Venit total azi</MudText>
                    <MudText Typo="Typo.h5">70.230</MudText>
                </div>
            </MudPaper>
        </div>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <div class="zoom">
            <MudPaper Elevation="6" Class="d-flex flex-row pt-6 pb-4" Style="height:100px; background-image: linear-gradient(to bottom, #f3f2f7 72%, #660066 285%)">
                <MudIcon Icon="@Icons.Material.Filled.Inventory" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Așteptare tranzacții</MudText>
                    <MudText Typo="Typo.h5">19</MudText>
                </div>
            </MudPaper>
        </div>
    </MudItem>
</MudGrid>

<hr />

<MudGrid>
    <MudItem xs="6" sm="6" md="6">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>DETALII PRODUSE</MudText>
                    <hr />
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="row product-details">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7 total-summary pl-6">
                        <div class="item">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Stocuri nivel critic</MudText>
                            <label style="color:red">3</label>
                        </div>
                        <div class="item font-large">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total produse</MudText>
                            <label>332</label>
                        </div>

                        <div class="item font-large">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total stocuri</MudText>
                            <label>932</label>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-center">
                        <label class="font-weight-light font-large pt-5 text-void mb-0">Stoc activ</label>
                        <div class="pt-3">
                            <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
                                <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                                <circle class="donut-segment donut-segment-2" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="69 31" stroke-dashoffset="25"></circle>
                                <g class="donut-text donut-text-1">

                                    <text y="50%" transform="translate(0, 2)">
                                        <tspan x="50%" text-anchor="middle" class="donut-percent">69%</tspan>
                                    </text>
                                    <text y="60%" transform="translate(0, 2)">
                                        <tspan x="50%" text-anchor="middle" class="donut-data">Total articole</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="6">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Venit lunar</MudText>
                    <hr />
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <RadzenChart>
                    <RadzenLineSeries Data="@revenue2020" CategoryProperty="Date" Title="2021" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                    <RadzenValueAxis Formatter="@FormatAsRON">
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {
    public int index = -1; //default value  cannot be 0 -> first selectedindex is 0.

    class DataItem
    {
        public DateTime Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsRON(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("ro-Ro"));
    }

    DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
            Date = DateTime.Parse("2019-01-01"),
            Revenue = 104123
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-02-01"),
            Revenue = 89235
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-03-01"),
            Revenue = 98678
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-04-01"),
            Revenue = 105435
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-05-01"),
            Revenue = 110234
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-06-01"),
            Revenue = 102123
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-07-01"),
            Revenue = 90324
        },
    };
    public List<ChartSeries> Series = new List<ChartSeries>()
{
        new ChartSeries() { Name = "2021", Data = new double[] { 90, 79, 72, 29, 62, 62, 85, 65, 70 } },
    };
    public string[] XAxisLabels = { "Ian", "Feb", "Mar", "Apr", "Mai", "Iun", "Iul", "Aug", "Sep" };
}
